<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos</title>
</head>
<body>
    <h2>Termo de Consentimento e Tratamento de Dados sob a LGPD</h2>
    <p>
    Termo de Consentimento e Tratamento de Dados sob a LGPD que você, usuário,<br>
    ao aceitar com o cadastro e uso do sistema PetConfy, declara estar ciente e concordar<br>
    com as seguintes condições relacionadas à coleta, tratamento e proteção de meus<br>
    dados pessoais, de acordo com a Lei Geral de Proteção de Dados (LGPD):
    </p>
    <p>
    Consentimento e Finalidades: Através deste termo, concedo meu consentimento claro<br>
    e inequívoco para o tratamento dos meus dados pessoais, os quais incluem, mas não se<br>
    limitam a: nome, endereço, CPF/CNPJ, e-mail, telefone, dados bancários e informações<br>
    sobre compras e transações. Entendo que esses dados serão utilizados exclusivamente<br>
    para finalidades específicas para as quais foram coletados, como a prestação de serviços,<br>
    comunicação, transações e demais atividades relacionadas ao sistema PetConfy.
    </p>
</body>
</html>